<form action="/login" method="POST" accept-charset="utf-8">
	<input type="text" name="username" placeholder="Введите логин">
	<input type="text" name="password" placeholder="Введите пароль">
	<input type="submit" value="Отправить">
</form>