<h4>Register your account</h4> 
<form action="/register" method='post'>
    <input type='text' name='username' placeholder='Your Login'>
    <input type='password' name='password' placeholder='Your Password'>
    <input type="submit" value="Отправить">
</form>